.col-1 {
  background-color: yellow;
}

.col-2 {
  background-color: greenyellow;
}

.col-3 {
  background-color: turquoise;
}

.col-4 {
  background-color: darkcyan;
}

.col-6 {
  background-color: purple;
}

.col-12 {
  background-color: magenta;
}